<div class="py2 post-footer">
  <img src="{{ site.gravatar_url }}" alt="Geoffrey Huntley" class="avatar" />
  <p>
	  Hi, my name is Geoffrey Huntley, a cross-platform mobile software engineer from Sydney, Australia and one of the maintainers of the popular Xamarin functional reactive programming framework, <a href="http://reactiveui.net/">ReactiveUI</a>. At the moment I'm working on a mix of product work and open source projects, but who knows what tomorrow will bring? I like both promite and vegemite. 
  </p>
  <p>
    Follow him on <a href="https://twitter.com/geoffreyhuntley">Twitter</a>.
  </p>
</div>
